@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 100% 94%;
    --foreground: 215 25% 27%;
    
    --card: 195 100% 98%;
    --card-foreground: 215 25% 27%;

    --popover: 195 100% 98%;
    --popover-foreground: 215 25% 27%;

    --primary: 194 36% 40%;
    --primary-foreground: 210 40% 98%;

    --secondary: 195 30% 90%;
    --secondary-foreground: 194 36% 40%;

    --muted: 195 30% 92%;
    --muted-foreground: 215 20% 45%;

    --accent: 43 89% 38%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 195 30% 88%;
    --input: 195 30% 90%;
    --ring: 194 36% 40%;
    
    --chart-1: 194 36% 40%;
    --chart-2: 195 40% 60%;
    --chart-3: 43 89% 38%;
    --chart-4: 43 80% 60%;
    --chart-5: 195 20% 70%;

    --radius: 0.5rem;

    --sidebar-background: 216 30% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 194 36% 40%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 216 30% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 216 30% 20%;
    --sidebar-ring: 43 89% 38%;
  }
  .dark {
    --background: 216 30% 12%;
    --foreground: 210 40% 98%;
    
    --card: 216 30% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 216 30% 12%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 194 36% 40%;

    --secondary: 216 30% 20%;
    --secondary-foreground: 210 40% 98%;

    --muted: 216 30% 20%;
    --muted-foreground: 215 20% 65%;

    --accent: 43 89% 45%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 216 30% 20%;
    --input: 216 30% 20%;
    --ring: 43 89% 45%;

    --sidebar-background: 216 30% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 194 36% 40%;
    --sidebar-accent: 216 30% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 216 30% 20%;
    --sidebar-ring: 43 89% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
